@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb{
  background: #555;
  width: 10px;
  height: 10px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
  background: #333;
}
::-webkit-scrollbar-button{
  display: none;
}

.skeletal-loading{
  animation: pulse 1.5s infinite;
  border-radius: 4px;
}
@keyframes pulse {
  0% {
    background-opacity: 1;
  }
  50% {
    background-opacity: 0.5;
  }
  100% {
    background-opacity: 1;
  }
}